body 
{
	margin:		0px;
}

td 
{
	background: 	white;
	cursor: 			Hand;
	border-width:		1px;
	border-style:		solid;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-top-color:		ButtonShadow;
	border-bottom-color:	ButtonHighlight;
    	FONT-SIZE: 10px;
    	FONT-FAMILY: Arial;
}
