/* CSS Document */



#popover {

	width:100%;

	height:100%;

	position:absolute;

	z-index:99999;

	background:url(../images/pp_bg.png) repeat;

}

#sm_pp {

	width:506px;

	margin:30px auto 0 auto;

}

#pp_header {

	background:#e6ddca;

	height:40px;

	border-top-right-radius:5px;

	border-top-left-radius:5px;

	padding:0 15px 0 15px;

}

#pp_header .alignleft {

	line-height:40px;

	font-size:20px;

	font-weight:bold;

	color:#2b2b2b;

}

#pp_header .alignright {

	padding:8px 0 0 0;

}

#pp_contents {

	background:#fff;

	border-bottom-right-radius:5px;

	border-bottom-left-radius:5px;

	padding:15px 15px 20px 15px;

}

#pp_contents .pp_msg {

	font-size:16px;

	padding:20px 0 20px 0;

}

#pp_contents .pp_msg span {

	display:block;

	padding:5px 0 0 0;

}

#pp_contents .btn{

	/*width:95px;

	height:32px;

	font-size:16px;

	cursor: pointer;*/

}

/* Yeasir Pop up css starts here*/



/* CSS Document */



.ymp_pp {

	padding-top: 145px !important;

	background: url("../images/popover-wrapper-bg.png") repeat scroll 0 0 transparent;

	height: 100%;

	width: 100%;

}

#bp_wrapper {

	border-radius: 6px 6px 6px 6px;

	margin: 0 auto;

	min-height: 180px;

	overflow: hidden;

	/*width: 506px;*/

	background: none repeat scroll 0 0 #FFFFFF;

	padding-bottom: 20px;

}

.bp_hdr {

	background: none repeat scroll 0 0 #E6DDCA;

	min-height: 40px;

	padding: 0 15px;

}

h2.pph2 {

	color: #2b2b2b;

	font-size: 20px;

	font-weight: bold;

	line-height: 40px;

	margin: 0;

	padding: 0;

	width: 370px;

}

.popover-close {

	background: url("../images/crss_btn.png") no-repeat scroll 0 0 transparent;

	margin-top: 8px;

	display: block;

	float: right;

	height: 30px;

	text-align: left;

	text-indent: -9999px;

	width: 26px;

}

.bp_cont {

	background: none repeat scroll 0 0 white;

	min-height: 160px;

	text-align: center;

}

.pp_txtss {

	padding: 35px 0 20px;

}

div.pp_txtss p {

	color: #414141;

	font-size: 16px;

	padding: 0;

}

.bpp_p a, .bpp_dv input[type="submit"] {

	height: 31px;

	font-size: 16px;

	width: 92px;

	line-height: 30px;

	display: inline-block;

	margin-right: 5px;

}

.ymp_spcl_whgt {

	width:690px !important;

}

.inpt_dv_ymp {

	overflow: hidden;

	padding: 10px 0 10px 15px;

}

.inpt_dv_ymp label, .inpt_dv_ymp span {

	float:left;

	display:block;

	line-height:18px;

	text-align:left;

}

.inpt_dv_ymp label {

	width:120px;

	color:#1d1d1d;

	font-size:13px;

	font-weight:bold;

}

.inpt_dv_ymp span, .inpt_dv_ymp textarea {

	width:526px;

	color:#6e6e6e;

}

.inpt_dv_ymp textarea {

	width: 526px;

	height: 150px;

	line-height: 18px;

	border: 1px solid #cfcfcf;

	padding: 7px;

}

.larg_labl_ymp .inpt_dv_ymp label {

	width:140px;

}

.larg_labl_ymp .inpt_dv_ymp span {

	width:506px;

}

.bpp_dv {

	text-align: left;

	padding-left: 126px;

}

.ppspcl_a {

	text-align: right;

	color: #1D1D1D;

	font-weight: bold;

	font-size: 13px;

}

.ppspcl_a a {

	text-decoration:underline;

}

/* Yeasir Pop up css ends here*/

/*Mateen pop up css start*/

.popover-form {}

.popover-form p {

	padding: 0 0 8px 0;

}

.popover-form label {

	display: block;

	color: #1d1d1d;

	font-weight: bold;

	font-size: 12px;

	padding: 0 0 8px 0;

}

.popover-form .input_field{

	width:455px;

}

.popover-form select.input_field{

	width:456px;

}

.popover-form textarea.input_field{

	height:90px;

	overflow:auto;

}



.input-edit-text{

	margin: -5px 0 10px 5px;

	display: block;

}

#bp_cont .btn {

	width:95px;

	height:32px;

	font-size:16px;

	cursor: pointer;

}

/*Mateen pop up css end*/

