/* CSS Document */



body {



padding-top: 60px;



padding-bottom: 40px;



}



.sidebar-nav {



padding: 9px 0;



/*width: 200px;*/



}



.form-signin {



max-width: 300px;



padding: 19px 29px 29px;



margin: 0 auto 20px;



background-color: #fff;



border: 1px solid #e5e5e5;



-webkit-border-radius: 5px;



-moz-border-radius: 5px;



border-radius: 5px;



-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);



-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);



box-shadow: 0 1px 2px rgba(0,0,0,.05);



}



.form-signin .form-signin-heading,



.form-signin .checkbox {



margin-bottom: 10px;



}



.form-signin input[type="text"],



.form-signin input[type="password"] {



font-size: 16px;



height: auto;



margin-bottom: 15px;



padding: 7px 9px;



}



.start_date

{

    border: 1px solid #888888;

    border-radius: 6px 6px 6px 6px;

    float: right;

    font-size: 16px;

    height: 19px;

    margin-right: -120px;

    padding: 5px 10px;

    width: 180px;

}

.end_date

{

    border: 1px solid #888888;

    border-radius: 6px 6px 6px 6px;

    float: right;

    font-size: 16px;

    height: 19px;

    margin-right: -120px;

    padding: 5px 10px;

    width: 180px;

}



.ui-datepicker .ui-datepicker-title {

    font-size: 12px;

    line-height: 1.8em;

    text-align: center;

}



#ui-datepicker-div {

  

    font-size: 12px;

    left: 462.5px;

    position: absolute;

    top: 174.833px;

    z-index: 1;

}





.widget {

    background: none repeat scroll 0 0 #F7F7F7;

    border: 1px solid #CDCDCD;

    border-radius: 3px 3px 3px 3px;

    box-shadow: 0 2px 2px -2px #CCCCCC;

    margin-top: 9px;

    position: relative;

}



.widget > [class*="whead"] {

    border-bottom: 1px solid #CDCDCD;

    box-shadow: 0 1px 0 #FFFFFF;

    position: relative;

    text-shadow: 0 1px #FFFFFF;

}

.whead {

    background: -moz-linear-gradient(center top , #F8F8F8 0%, #E8E8E8 100%) repeat scroll 0 0 transparent;

    color: #636363;

}



.control_box {

    height: 45px;

    margin-left: 250px;

    margin-top: 15px;

    width: 556px;

}



table {

    border-collapse: collapse;

}





.icos-add:before {

    content: url("../images/icon-add.png");

}

#controls_aiports {

    background-color: wheat;

    border-radius: 23px 23px 23px 23px;

    color: white;

    padding: 14px;

}



td:first-child {

    border-left: medium none;

}

.tDefault thead td {

    background: none repeat scroll 0 0 #EEEEEE;

    color: #909090;

    font-size: 11px;

    padding: 3px 5px 2px;

    text-align: center;

}

.tDefault tbody td, .tDefault thead td {

    border-left: 1px solid #DFDFDF;

    box-shadow: 0 1px 0 #FAFAFA inset;

}



h6 {

    font-size: 11.9px;

}

h1, h2, h3, h4, h5, h6 {

    color: inherit;

    font-family: inherit;

    font-weight: bold;

    line-height: 20px;

    margin: 10px 9px;

    text-rendering: optimizelegibility;

}





.formRow {

    border-bottom: 1px solid #DDDDDD;

    border-top: 1px solid #FFFFFF;

    padding: 19px 16px;

}



.add_form select {

    background-color: #FFFFFF;

    border: 1px solid #CCCCCC;

    width: 249px;

}



.add_form

{

	background-color: #FFFFFF;

    border: 1px solid #E5E5E5;

    border-radius: 5px 5px 5px 5px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    max-width: 800px;

    padding: 19px 29px 29px;

}



#view_style

{

	margin-left: 100px;

	margin-top: -21px;

}

#job-lightbox {
    background: none repeat scroll 0 0 #FCFCF5;
    border-color: #C0C0C0;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 8px;
    display: block;
    font-family: Calibri;
    font-size: 14px;
    height: 446px;
    left: 50%;
    margin-left: -319px;
    margin-top: 0;
    position: absolute;
    top: 61px;
    z-index: 1002;
	height: 517px;
}

.para-job {
    color: #999999;
    font-family: Calibri;
    margin-left: 8px;
    margin-top: 8px;
}

#line-r {
    background: none repeat scroll 0 0 #DDDDD7;
    height: 1px;
    margin-left: 0;
    margin-top: 4px;
    width: 582px;
}


#form-job {
    color: #999999;
    font-family: Calibri;
    font-size: 13px;
    margin-left: 30px;
    margin-top: 12px;
}


.txtbox-job {
    height: 20px;
    margin-top: 12px;
    width: 214px;
}

.desc-job {
    margin-top: 19px;
}
.jobbutton-cancel {
    background: none repeat scroll 0 0 #243243;
    border: 1px solid #0000FF;
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-family: Calibri;
    font-size: 11px;
    height: 25px;
    margin-left: 3px;
    margin-top: 40px;
    padding-bottom: 4px;
    text-align: center;
    width: 70px;
}


.signbutton-job {
    background: none repeat scroll 0 0 #243243;
    border: 1px solid #0000FF;
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-family: Calibri;
    font-size: 11px;
    height: 25px;
    margin-top: 40px;
    padding-bottom: 4px;
    text-align: center;
    width: 113px;
}

.well1 {
    background-color: #F9A4BA;
    border: 1px solid #E3E3E3;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: -1px;
    min-height: 0px;
    padding: 19px;
	color:#FFFFFF;
	margin-top:5px;
}

#sorting
{
	background:#F9A4BA;
	color:#FFFFFF;

}

#Date
{
	 float: left;
     margin-left: 5px;
	 margin-top:-2px;        
	 
}

#job_prioirty
{
	float: left;
    margin-left: 6px;
    margin-top: -2px;
	
}

#job_status
{
	 float: left;
    margin-left: 67px;
    margin-top: -8px;
	
}

#jobs {
    border: 1px solid grey;
    min-height: 130px;
}

#job_title1
{
  margin-left: 15px;
 font-size: 19px;
  margin-top: -4px;
   min-height: 32px;
    width: 243px;
}

#job_desc {
    margin-left: 15px;
    margin-top: -8px;
    height: 41px;
    text-align: justify;
    width: 210px;
}


#job_date {
    height: 21px;
    margin-left: 239px;
    margin-top: 3px;
    width: 81px;
}

.view_image
{
	height: 30px;
    margin-left: 284px;
    width: 30px;
}

.edit_image {
    margin-left: 284px;
    margin-top: -7px;
    width: 30px;
}
#assigned_to {
    margin-left: 12px;
    margin-top: 61px;
    min-height: 20px;
    width: 222px;
}

#assigned_by {
    margin-left: 12px;
    margin-top: -2px;
    min-height: 20px;
    width: 222px;
}

#job_priority_low
{
   margin-left: 240px;
   margin-top: -39px;
   border-radius: 4px 4px 4px 4px;
   text-align: center;
   color: white;
   background-color: #009EDB;
   font-size: 12px;
   width:71px;
   height:18px;
   
}

#job_priority_medium
{
   border-radius: 4px 4px 4px 4px;
   text-align: center;
   color: white;
   background-color: rgb(255, 214, 0);
   font-size: 12px;
   margin-left: 240px;
   margin-top: -39px;
   width:71px;
   height:18px;
}

#job_priority_high
{
   margin-left: 240px;
   margin-top: -39px;
   border-radius: 4px 4px 4px 4px;
   text-align: center;
   color: white;
   background-color: #FD0000;
   font-size: 12px;
   width:71px;
   height:18px;
}

#job_status_1 {
    background-color: rgb(255, 214, 0);
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-size: 12px;
    margin-left: 240px;
    margin-top: 3px;
    text-align: center;
	width:71px;
    height:18px;
	
}

#job_status_2 {
    background-color: green;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-size: 12px;
    margin-left: 240px;
    margin-top: 3px;
    text-align: center;
	width:71px;
    height:18px;
}

#job_status_3 {
    background-color: #009EDB;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-size: 12px;
    margin-left: 240px;
    margin-top: 3px;
    text-align: center;
	width:71px;
    height:18px;
}

#job_status_4 {
    background-color: #FD0000;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-size: 12px;
    margin-left: 240px;
    margin-top: 3px;
    text-align: center;
	width:71px;
    height:18px;
}


.calender {
    border: 1px solid #DEE9FF;
    height: 500px;
    margin-left: 44px;
    margin-top: 25px;
    width: 800px;
}

.weekdays
{
	background-color: #ECF1F9;
	height: 20px;
}

.weekdays td
{
	font-family: Tahoma;
	text-align: center;
	width:142.85px;
}

.days
{
	border-bottom: 1px solid rgb(222, 233, 255);
	height:100px;
}

.days td
{
	border-right: 1px solid rgb(222, 233, 255);
}


.key_day {
    background-color: #F9F9FF;
    font-size: 10px;
    height: 13px;
    line-height: 12px;
    margin-top: -50px;
    text-align: right;
   
}
.app_indication_yellow {
    background-color: rgb(255, 214, 0);
      border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    float: left;
    font-size: 8px;
    height: 12px;
    left: 15px;
    line-height: 12px;
    margin: 2px;
    top: -12px;
    width: 12px;
	text-align:center;
	color:white;
}
.app_indication_blue {
    background-color: #009EDB;
     border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    float: left;
    font-size: 8px;
    height: 12px;
    left: 15px;
    line-height: 12px;
    margin: 2px;
    top: -12px;
    width: 12px;
	text-align:center;
	color:white;
}
.app_indication_green {
    background-color: green;;
     border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    float: left;
    font-size: 8px;
    height: 12px;
    left: 15px;
    line-height: 12px;
    margin: 2px;
    top: -12px;
    width: 12px;
	text-align:center;
	color:white;
}

.app_indication_red {
    background-color: #FD0000;
      border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    float: left;
    font-size: 8px;
    height: 12px;
    left: 15px;
    line-height: 12px;
    margin: 2px;
    top: -12px;
    width: 12px;
	text-align:center;
	color:white;
}
.calender_controls
{
	width: 849px; height: 28px;
	margin-bottom: 8px;
}

.current_day {
   /* border-right: 1px solid gray;*/
    color: blue;
    float: left;
    height: 18px;
    margin-left: 64px;
    margin-top: 13px;
    width: 47px;
}
.selections
{
	float: left; width: 755px; height: 35px;
}
.month
{
	width: 103px; height: 27px;
}
.year
{
	width: 69px; height: 27px;
}
.month_heading {
    float: right;
    font-size: 28px;
    font-weight: bolder;
    margin-right: 224px;
    margin-top: 8px;
    width: 208px;
}

/* ===== Notification messages ===== */

.nNote { cursor: pointer; margin: 32px 0px 0px 0px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
#sidebar .nNote { margin: 0; border-radius: 0; border-left: none; border-right: none; box-shadow: 0 1px 1px #f5f5f5; -webkit-box-shadow: 0 1px 1px #f5f5f5; -moz-box-shadow: 0 1px 1px #f5f5f5; }
.nNote p { padding: 10px 25px 10px 25px; margin: 0px; text-align: center; font-weight: bold; text-shadow: 0 1px 0 #fff;  }
.nMessage p { font-size: 11px; }
.nWarning { border: 1px solid #f2d083; color: #826200; box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf;
background: #ffedbc;
background: -moz-linear-gradient(top,  #ffedbc 0%, #fbe5a8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedbc), color-stop(100%,#fbe5a8));
background: -webkit-linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
background: -o-linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
background: -ms-linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
background: linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedbc', endColorstr='#fbe5a8',GradientType=0 );
  }

.nSuccess { box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf; border: 1px solid #c1d779; color: #4f7307; 
background: #d6efa1;
background: -moz-linear-gradient(top,  #d6efa1 0%, #d0e69d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6efa1), color-stop(100%,#d0e69d));
background: -webkit-linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
background: -o-linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
background: -ms-linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
background: linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6efa1', endColorstr='#d0e69d',GradientType=0 );
}

.nFailure { box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf; border: 1px solid #dfa59b; color: #7d2a1c;
background: #f0b5a1;
background: -moz-linear-gradient(top,  #f0b5a1 0%, #de9d8a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b5a1), color-stop(100%,#de9d8a));
background: -webkit-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
background: -o-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
background: -ms-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
background: linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b5a1', endColorstr='#de9d8a',GradientType=0 ); 
}
.nFailure > p { text-shadow: 0 1px 0 #DDD; }
 
.nInformation { border: 1px solid #bcd9f3; color: #4579aa;
background: #deedf9;
background: -moz-linear-gradient(top,  #deedf9 0%, #cde5f7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deedf9), color-stop(100%,#cde5f7));
background: -webkit-linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
background: -o-linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
background: -ms-linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
background: linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deedf9', endColorstr='#cde5f7',GradientType=0 );
box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf;
 }


#map
{
	background-color: #EDEDED;
	font-size: 20px; height: 39px; 
	margin-left: -34px; 
	margin-top: -22px; 
	width: 810px;
	font-family: Helvetica;

}

#map_image
{
	margin-left: 10px;
}


#map_title {
    
    margin-left: 47px;
    margin-top: -21px;
	font-size:18px;
}

#map_full_view
{
	 margin-left: -24px;
	 margin-top: 15px;
}

#quick_shortcuts
{
 float: left;
 width: 455px; 
 margin-left: 18px; 
 height: 224px;
 margin-top: 22px;
 border: 1px solid #E3E3E3;
 border-radius: 4px 4px 4px 4px;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#quick_shortcuts_heading
{

	background-color: #EDEDED;
	font-size: 18px; height: 39px; 
	width: 455px; 
	font-family: sans-serif;
}

#quick_shortcuts_image{

	margin-left: 10px;
}

.view_image_shortcut{
	margin-top: 6px;
    width: 30px

}


#quick_shortcuts_title {
    color: #999999;
    font-size: 18px;
    margin-left: 47px;
    margin-top: -30px;
}


#shortcut_1 {
    background-color: #EDEDED;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    float: left;
    height: 69px;
    margin-left: 13px;
    margin-top: 13px;
    width: 96px;
	color:#999999;
}


#view_shortcuts_img
{

    margin-top: 8px;
    text-align: center;
}

#shortcut_1_title
{
	text-align: center;
 	font-size: 13px;
}

#quick_stats
{
 float: left;
 width: 455px; 
 margin-left: 18px; 
 height: 225px;
 margin-top: 22px;
 border: 1px solid #E3E3E3;
 border-radius: 4px 4px 4px 4px;
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#quick_stats_heading
{

 	background-color: #EDEDED;
    font-family: Helvetica;
    font-size: 18px;
    height: 39px;
    margin-top: -6px;
    width: 455px;
}

#quick_stats_image
{
	margin-top: 6px;
    width: 30px
}


#quick_stats_title {
    color: #999999;
    font-size: 18px;
    margin-left: 43px;
    margin-top: -23px;
}

#in_progress
{
    color: #999999;
    font-family: Helvetica;
    font-size: 25px;
    height: 95px;
    margin-left: 15px;
    margin-top: -56px;
    width: 197px;
}

#completed
{
 	color: #999999;
    font-family: Helvetica;
    font-size: 25px;
    height: 95px;
    margin-left: 15px;
    margin-top: -51px;
    width: 197px;
}

#total_jobs {
    color: #999999;
    font-family: Helvetica;
    font-size: 25px;
    height: 95px;
    margin-left: 275px;
    margin-top: -221px;
    width: 167px;
}

#not_started
{
	color: #999999;
    font-family: Helvetica;
    font-size: 25px;
    height: 95px;
    margin-left: 15px;
    margin-top: 15px;
    width: 197px;

}

#over_due
{
	color: #999999;
    font-family: Helvetica;
    font-size: 25px;
    height: 95px;
    margin-left: 15px;
    margin-top: -51px;
    width: 197px;

}

#name1 {
    color: #BE4A3F;
    
    margin-left: 165px;
    margin-top: -20px;
    width: 80px;
}

#total_jobss {
    color: #BE4A3F;
    font-size: 77px;
    margin-left: -53px;
    margin-top: 55px;
    text-align: center;
}

.content{margin:0px 0px 40px 0; width:352px; height:679px;  overflow:auto; background:white; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
		.content p:nth-child(even){color:#999; font-family:Georgia,serif; font-size:17px; font-style:italic;}
		.content p:nth-child(3n+0){color:#c96;}
		/*body custom scrollbar style*/
		body>.mCustomScrollBox>.mCSB_scrollTools{top:2%; height:96%;}
		
	
#view_job_popup {
    background: none repeat scroll 0 0 #FCFCF5;
    border-color: #C0C0C0;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 8px;
    display: block;
    font-family: Calibri;
    font-size: 14px;
    height: 446px;
    left: 50%;
    margin-left: -319px;
    margin-top: 0;
    position: absolute;
    top: 61px;
    z-index: 1002;
	height: 517px;
}

.left_title
{
font-size: 19px; font-family:Helvetica,Arial,sans-serif; color: rgb(153, 153, 153);
	
    border-left: medium none;
    height: 40px;
    margin: 65px;
}

#edit_job_popup {
    background: none repeat scroll 0 0 #FCFCF5;
    border-color: #C0C0C0;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 8px;
    display: block;
    font-family: Calibri;
    font-size: 14px;
    height: 446px;
    left: 50%;
    margin-left: -319px;
    margin-top: 0;
    position: absolute;
    top: 61px;
    z-index: 1002;
	height: 517px;
}
