<HEAD>
<META content="MSHTML 6.00.2800.1400" name=GENERATOR></HEAD>
<BODY style="FONT-FAMILY: ">
<P><FONT face=Arial><STRONG>User Help</STRONG></FONT></P>
<P>
<TABLE style="WIDTH: 100%" borderColor=#c0c0c0 cellSpacing=0 cellPadding=0 border=1>
<TBODY>
<TR>
<TD><IMG src="design/image/Office2003/neu.gif"></TD>
<TD><FONT face=Arial size=2>Create a new document</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/open.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Open file from server by using a dialog</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/save.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Save file</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/saveas.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Save file to a selectable directory </FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/search.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Search and replace function</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/print.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Print file</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/spell.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Spell checker</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/preview.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Print Preview</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/cut.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Cut</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/copy.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Copy</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/paste.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Paste</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/pasteword.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Paste from Word (Remove Word specific formattings)</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/undo.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Undo</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/redo.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Redo</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/link.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Create link from selection</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/anchor.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert anchor</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/image.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert image</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/table.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert table</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/rule.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert rule</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/char.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert date</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/date.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert date</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/time.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert marquee</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/pagebreak.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert page break</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/paragraph.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert Paragraph</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/help.gif"></FONT></TD>
<TD><FONT face=Arial size=2>User help</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2></FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2>Select style</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2>Select format</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2>Select font family</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2>Select font size</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/bold.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Bold</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/italic.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Italic</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/underline.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Underline</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/superscript.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Superscript</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/superscript.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Subscript</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/left.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Justify left</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/center.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Justify center</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/right.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Justify right</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/block.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Justify block</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/orderedlist.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Ordered list</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/unorderedlist.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Unordered list</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/indent.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Indent</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/outdent.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Outdent</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/color.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Text color</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/backcolor.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Background color</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2></FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/form.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert form</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/label.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert label</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/button.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert button</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/input.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert input</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/checkbox.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert check box</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/radio.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert radio button</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/combobox.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert combo box</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/listbox.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert list box</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/textarea.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert text area</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/hidden.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert hidden</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/div.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert container</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/iframe.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert sub page</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/position.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Set control to absolute position</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2></FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2>Text module list</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/tm_add.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Insert text module</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/tm_create.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Create text module</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/tm_remove.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Delete text module</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2></FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/remove.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Remove format like colors etc.</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/broff.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Set RETURN mode</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/tablehigh.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Highlight table</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2><IMG src="design/image/Office2003/selectall.gif"></FONT></TD>
<TD><FONT face=Arial size=2>Select All</FONT></TD></TR>
<TR>
<TD><FONT face=Arial size=2></FONT></TD>
<TD><FONT face=Arial size=2>Zoom</FONT></TD></TR></TBODY></TABLE></P></BODY>