<%@ Page Language="C#" validateRequest="false" %>
<%@ Register TagPrefix="pinEditSpell" Namespace="Pintexx.Components.Web.pinEdit.Spell" Assembly="pinEditSpell" %>
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<title></title>
<body>
<Center>

<pinEditSpell:SpellWeb id="SpellWeb" runat="server">
</pinEditSpell:SpellWeb>

</center>
</body>
</html>