<HEAD>
<LINK href="../design/style/dialog.css" type="text/css" rel="stylesheet">
<script language="javascript" src="../include/dialog.js"></script>
<SCRIPT>

function initDialog(para)
{
  params = para;

  // add styles
  var combo = document.getElementById("cmbClass");
  comboClear(combo);
  var aStyle = para[12];
  comboAdd(combo,getLanguageString("","4008"),"STANDARD");
  for(var i=0;i<aStyle.length;i++) {
    comboAdd(combo,aStyle[i],aStyle[i]);
  }
  // set current value
  comboSet(combo,para[5].className);  
  
  // set language strings
  setStrings();
}

function updateDialog(para)
{
  initDialog(para)
}

function save()
{
  var combo = document.getElementById("cmbClass");
  var value = combo.value;
  params[11].editSetStyle(combo.value);
}

</SCRIPT>
</HEAD>
<BODY class="bodypage">
  <fieldset>
    <legend class="head">
      <span id="3337">_Class</span>
    </legend>
    <table cellspacing="0" cellpadding="1" border="0">
      <tr>
        <td>
          <span id="3338" class="label">_Class:</span>
        </td>
        <td>
          <select id="cmbClass" NAME="cmbClass">
          </select>
        </td>
      </tr>
    </table>
  </fieldset>
</BODY>
