<HEAD>
  <TITLE>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TITLE>
  <LINK href="../design/style/dialog.css" type="text/css" rel="stylesheet">
    <script language="javascript" src="../include/dialog.js"></script>
    <SCRIPT>

var language = "";
var design   = "";

function save()
{
  try {
    var id = objElement.id;
    var name = objElement.name;
    var method = objElement.method;
    var action = objElement.action;
    var changed = false;
    var win = params[11];

    objElement.id = document.getElementById("txtID").value;
    objElement.name = document.getElementById("txtName").value;
    objElement.method = document.getElementById("cmbMethod").value;
    objElement.action = document.getElementById("txtAction").value;

    if(id != objElement.id)
      changed = true;
    if(name != objElement.name)
      changed = true;
    if(method != objElement.method)
      changed = true;
    if(action != objElement.action)
      changed = true;

    if(changed) {
      win.__editOnChanged(true);
    }

    
  } catch(Error) {}

  window.close();
}

function initDialog(param)
{
  params = param;

  try {
	  objElement          = params[5];
	  // clear
    document.getElementById("txtID").value = "";
    document.getElementById("txtName").value = "";
	  
    if(objElement.id)
      document.getElementById("txtID").value = objElement.id;
    if(objElement.name)
      document.getElementById("txtName").value = objElement.name;
    setCombo(document.getElementById("cmbMethod"),objElement.method)
    document.getElementById("txtAction").value = objElement.action;
    
    // set language strings
    setStrings();

  } catch(Error) {}
}

</SCRIPT>
</HEAD>
<BODY class="bodypage">
  <fieldset>
    <legend class="head">
      <span id="964">_Name</span>
    </legend>
    <table cellspacing="0" cellpadding="1" border="0">
      <tr>
        <td>
          <div id="962" class="label">_ID:</div>
        </td>
        <td>
          <input type="text" value="" ID="txtID" NAME="txtID">
        </td>
      </tr>
      <tr>
        <td>
          <span id="963" class="label">_Name:</span>
        </td>
        <td>
          <input type="text" value="" ID="txtName" NAME="txtName">
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend class="head">
      <span id="3327">_Form</span>
    </legend>
    <table title="" style="WIDTH: 100%" cellspacing="0" cellpadding="1" border="0" ID="Table2">
      <tr>
        <td>
          <span id="3324" class="label">_Action:</span>
        </td>
        <td>
          <SELECT id="cmbMethod">
            <option value="get" selected>GET</option>
            <option value="post">POST</option>
          </SELECT>
        </td>
      </tr>
      <tr>
        <td>
          <span id="3325" class="label">_Target:</span>
        </td>
        <td style="width:100%">
          <input type="text" value="" ID="txtAction" style="width: 100%">
        </td>
      </tr>
    </table>
  </fieldset>
</BODY>
</HTML>
