<HEAD>
  <TITLE></TITLE>
  <LINK href="../design/style/dialog.css" type="text/css" rel="stylesheet">
    <script language="javascript" src="../include/dialog.js"></script>
    <SCRIPT>

var language = "";
var design = "";
var objElement;
var technology = "";
var baseUrl    = "";
var basePath   = "";
var filter     = "";
var relpath    = "";
var win        = null;

function save()
{
  try {
    var objElementStyle = objElement.style;
    var width           = objElementStyle.width;
    var height          = objElementStyle.height;
    var title           = objElement.title;
    var borderWidth     = objElementStyle.borderWidth;
    var borderStyle     = objElementStyle.borderStyle;
    var borderColor     = objElementStyle.borderColor;
    var verticalAlign   = objElementStyle.verticalAlign;
    var align           = objElement.align;
    var styleFloat      = objElementStyle.styleFloat;
    var changed = false;
    var win = params[11];

    // id
    if(document.getElementById("txtID").value != "")
      win.__editRelativeSetId(objElement,document.getElementById("txtID").value);
    
    // src
    if(document.getElementById("txtSource").value != "") {
      win.__editRelativeSetUrl(objElement,document.getElementById("txtSource").value);
    }

    // width
    objElement.removeAttribute("width");
    if(document.getElementById("txtWidth").value != "")
      objElementStyle.width = document.getElementById("txtWidth").value
    else
      objElementStyle.width = "";

    // height
    objElement.removeAttribute("height");
    if(document.getElementById("txtHeight").value != "")
      objElementStyle.height = document.getElementById("txtHeight").value
    else
      objElementStyle.height = "";

    // title
    if(document.getElementById("txtTitle").value != "")
      objElement.alt = document.getElementById("txtTitle").value
    else
      objElement.removeAttribute("alt");

/*
    // verticalAlign
    if(document.getElementById("cmbVAlign").value != "")
      objElementStyle.verticalAlign = document.getElementById("cmbVAlign").value;
*/
    
    // halign
    if(document.getElementById("cmbHAlign").value != "")
      objElement.align = document.getElementById("cmbHAlign").value;

    if(width != objElementStyle.width)
      changed = true;
    if(height          != objElementStyle.height)
      changed = true;
    if(title           != objElement.title)
      changed = true;
    if(align           != objElement.align)
      changed = true;

    if(changed) {
      win.__editOnChanged(true);
    }

  } catch(Error) { 
  }
  
  window.close();
}

function initDialog(param)
{
  params = param;
  
  try {
	  language            = param[0];
	  design              = param[1];
	  objElement          = param[5];
	  baseUrl             = param[6];
	  basePath            = param[7];
	  technology          = param[8];
	  filter              = param[9];
	  relpath             = param[10];
	  win                 = param[11];

    // set language strings
    setStrings();

    var objElementStyle = objElement.style;
    var temp = objElement.src;

    document.getElementById("txtID").value       = win.__editRelativeGetId(objElement);

		// check relative
    document.getElementById("txtSource").value = win.__editRelativeGetUrl(objElement,"IMAGE");

    document.getElementById("txtWidth").value       = objElementStyle.width > 0 ? objElementStyle.width : objElement.width;
    document.getElementById("txtHeight").value      = objElementStyle.height > 0 ? objElementStyle.height : objElement.height;;
    document.getElementById("txtTitle").value       = objElement.alt;

/*
    if(objElementStyle.verticalAlign != null) {
      var combo = document.getElementById("cmbVAlign");
      setCombo(combo,objElementStyle.verticalAlign);
    }
*/
    if(objElement.align != null) {
      var combo = document.getElementById("cmbHAlign");
      setCombo(combo,objElement.align);
    }

/*
    if(objElementStyle.styleFloat != null) {
      var combo = document.getElementById("cmbFloat");
      setCombo(combo,objElementStyle.styleFloat);
    }
*/
    if(!param[18])
      document.getElementById("btnUrl").style.display = "none";


  } catch(error) { }
}

function onUrlSelect()
{
  // set the predefined values from config.js
	if(browser.ie) {
		var path = window.showModalDialog(technology + "/dialog.html",params,"dialogHeight:300px;dialogWidth:600px;resizable:1;status:0;scroll:0");
		if(path != "0" && path != null) {
 			document.getElementById("txtSource").value = win.__editRelativeGetRelFromAbs(path,"IMAGE");
	  }
	} else {
		var left = screen.width/2 - 600/2;
		var top = screen.height/2 - 300/2;
		window.open(technology + "/dialog.html","dialog","modal=1,left=" + left + ",top=" + top + ",height=300,width=600,resizable=1,status=0,scrollbars=0");
	}
}

function __editGetParam()
{
  return params;
}

function callbackMozilla(mode, para1, para2)
{
  if(mode == "OPENIMAGE") {
    if(para1 != "0" && para1 != null) {
 			document.getElementById("txtSource").value = win.__editRelativeGetRelFromAbs(para1,"IMAGE");
    }
  }
}

    </SCRIPT>
</HEAD>
<BODY class="bodypage">
  <fieldset>
    <legend class="head">
      <span id="964">_ID/Name</span>
    </legend>
    <table cellspacing="0" cellpadding="1" border="0" ID="Table1">
      <tr>
        <td>
          <div id="962" class="label">_ID:</div>
        </td>
        <td>
          <input type="text" ID="txtID">
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend class="head">
      <span id="4006">_Size</span>
    </legend>
    <table cellspacing="0" cellpadding="1" border="0" ID="Table2">
      <tr>
        <td>
          <div id="4000" class="label">_Width:</div>
        </td>
        <td>
          <input type="text" ID="txtWidth">
        </td>
      </tr>
      <tr>
        <td>
          <div id="4001" class="label">_Height:</div>
        </td>
        <td>
          <input type="text" ID="txtHeight">
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend class="head">
      <span id="4009">_Aligment</span>
    </legend>
    <table cellspacing="0" cellpadding="1" border="0">
      <tr>
        <td>
          <div id="4011" class="label">_Horizontal:</div>
        </td>
        <td><SELECT id="cmbHAlign" style="FONT-SIZE: 11px; WIDTH: 76px; FONT-FAMILY: arial; HEIGHT: 20px">
            <OPTION value="" selected>-</OPTION>
            <OPTION value="left">left</OPTION>
            <OPTION value="center">center</OPTION>
            <OPTION value="right">right</OPTION>
          </SELECT>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend class="head">
      <span id="4007">_Misc</span>
    </legend>
    <table cellspacing="0" cellpadding="1" border="0" width="100%">
      <tr>
        <td>
          <div id="3323" class="label">_Title:</div>
        </td>
        <td>
          <INPUT id="txtTitle" style="FONT-SIZE: 11px; WIDTH: 76px; FONT-FAMILY: arial; HEIGHT: 20px">
        </td>
      </tr>
      <tr>
        <td>
          <div id="3341" class="label">_Source:</div>
        </td>
        <td nowrap style="width:100%">
          <INPUT id="txtSource" style="FONT-SIZE: 11px; WIDTH: 100%; FONT-FAMILY: arial">
        </td>
        <td width="1%">
          <INPUT style="FONT-SIZE: 11px; FONT-FAMILY: arial; HEIGHT: 20px" type="button"
            value="..." onclick="onUrlSelect()" id="btnUrl">
        </td>
      </tr>
    </table>
  </fieldset>
</BODY>
